<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="a1" class="com.lara.Address">
		<constructor-arg index="0" value="123/AB"/>
		<constructor-arg index="1" value="BTM"/>
	</bean>
	<bean id="p1" class="com.lara.Person">
		<constructor-arg index="0" value="amit"/>
		<constructor-arg index="1" value="25"/>
		<constructor-arg index="2" value="56.69"/>
		<constructor-arg index="3">
			<list>
				<value>amitku@gamil.com</value>
				<value>amit@yahoo.com</value>
				<value>amitku.1990@gmail.com</value>
			</list>
		</constructor-arg>
		
		<constructor-arg index="4">
			<list>
				<value>9874563214</value>
				<value>7896589652</value>
				<value>4569874589</value>
			</list>
		</constructor-arg>
		
		<constructor-arg index="5">
			<set>
				<value>JAVA</value>
				<value>J2EE</value>
				<value>C++</value>
			</set>
		</constructor-arg>
		
		<constructor-arg index="6">
			<map>
				<entry key="degree" value="B.Tech" />
				<entry key="postDegree" value="M.tech" />
			</map>
		</constructor-arg>
		
		<constructor-arg index="7">
			<props>
				<prop key="mini">Java Project</prop>
				<prop key="major">J2EE Project</prop>
			</props>
		</constructor-arg>
		
		<constructor-arg index="8" ref="a1"/>		
	</bean>	
	
	<bean id="t1" class="com.lara.Test">
		<constructor-arg index="0" value="abc"/>
		<constructor-arg index="1" value="10"/>
	</bean>
	
	<bean id="t2" class="com.lara.Test">
		<constructor-arg type="String" value="abc"/>
		<constructor-arg type="int" value="10"/>
	</bean>
</beans>
